.header{
    background-color: #2C99FE;
    display:flex;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    padding: 10px;
    position:sticky;
    top:0;
    width: 100%;
    z-index:1;
    
}

.miniLogo{
    text-transform: uppercase;
    color:white;
    font-size: 2rem;
    font-weight: 900;
}

.my{
    font-size: 1rem;
    color: #0300A6
} 

.header nav{
    color:white;
    display: flex;
    align-items: center;
    gap:30px;
    padding: 0 15px;
}

.header nav span {
    font-weight: 500;
}

.header i{
    cursor: pointer
}

.userImage{
    width:50px;
    border-radius: 50%;
}

@media (max-width: 600px){
    .header{
        justify-content:space-around;

    }
    .header h1 span{
        font-size: 1.5rem
    }
    .header .my{
        font-size:1rem;
    }

    .header nav span, .userImage{
        display: none;
    }
}